@import 'streamline.css';
@font-face {
    font-family: "Museo Sans";
    src: url('../fonts/museosansrounded-500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans";
    src: url('../fonts/museosansrounded-700-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans";
    src: url('../fonts/museosansrounded-100-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans";
    src: url('../fonts/museosansrounded-300-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

a,
a:hover {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.navbar-nav .icon-2x {
    /*padding: 15px;*/
}

.navbar-nav li {
    max-height: 80px;
}

.icon-2x {
    font-size: 1.5em;
    /*vertical-align: middle;*/
}

.home-btn {
    padding: 25px 33.5px;
}

.navbar {
    border: 0;
}

body {
    font-family: 'Museo Sans', 'Source Sans Pro', sans-serif;
}

.separator {
    content: ' ';
    width: 125px;
}

.navbar-brand {
    padding: 0;
}

.container-fluid > .navbar-header {
    margin-left: 150px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 65px;
    max-height: 65px;
}

.navbar ul {
    text-transform: uppercase;
}

.navbar-collapse {
    z-index: 1000;
}

.navbar-toggle {
    color: #fff;
    margin-top: 12px;
}

.navbar-brand-mini {
    display: none;
    width: 75px;
    margin-left: 27%;
}

@media screen and (max-width:498px) {
    .navbar-brand-mini {
        margin-left: 10%;
    }
}

.navbar-brand-mini img {
    max-height: 40px;
    height: 40px;
    margin-top: 10px;
}

.navbar-nav > li > a.allready-login {
    padding: 10px 20px;
}

.navbar-avatar {
    margin-left: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
}

ul.nav li > a {
    color: #fff;
    font-size: 15px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

li.sign-up a:not(.btn),
li.sign-in a:not(.lupa-password) {
    font-weight: 600;
    font-size: 15px !important;
}

li.sign-in a:not(.lupa-password),
li.sign-up a:not(.btn) {
    margin-top: -4px;
    padding: 21px 33.5px 16px;
    vertical-align: middle;
}

ul.nav li > a:hover,
ul.nav li > a:focus,
ul.nav li.active > a {
    background-color: #039be6;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.navbar-blue {
    background-color: #28b6f6;
}

.header-logo {
    /*    background-color: #fff;*/
    /*    padding: 30px 20px;*/
    border-bottom-left-radius: 10px;
    margin-left: 150px;
    border-bottom-right-radius: 10px;
    margin: 0;
    z-index: 1001;
    position: relative;
}


/******************
SECTION SETTINGS
*******************/

#content-1 {
    height: 688px;
    width: 100%;
    background-color: #28b6f6;
/*
    background-image: url('../img/4.jpg');
    background-position: center;
    background-size: cover;
*/
}

#content-2 {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-color: #0277bd;
}

#content-3 {
    width: 100%;
    height: auto;
    padding-bottom: 85px;
    background-color: #f5f5f5;
}

#calendar-event {
    width: 100%;
    height: auto;
    padding-bottom: 85px;
    background-color: #eeeeee;
}

#content-4 {
    background-color: #fafafa;
    width: 100%;
    height: auto;
    padding-bottom: 45px;
}

#content-about {
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #0277BD;
    padding: 40px 0;
    width: 100%;
    height: auto;
    min-height: 350px;
}

#detail-member {
    height: auto;
    /*height: 620px;*/
    /*margin-top: 34px;*/
    padding-top: 34px;
    margin-bottom: 100px;
    background-color: #fafafa;
}

#detail-event {
    height: auto;
    /*height: 620px;*/
    /*margin-top: 34px;*/
    padding-top: 34px;
    margin-bottom: 100px;
    background-color: #fafafa;
}

#sponsorship {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
}

#subsektor {
    padding-top: 100px;
    background-color: #fafafa;
    height: auto;
    padding-bottom: 150px;
    /*height: 1000px;*/
}

#detail-subsektor {
    background-color: #fafafa;
    /*    height: 1000px;*/
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

#forum-kolaborasi {
    background-color: #fafafa;
    height: auto;
    /*    height: 2000px;*/
    padding-top: 100px;
    padding-bottom: 150px;
}

#detail-berita {
    background-color: #fafafa;
    padding-bottom: 150px;
    height: auto;
}

#gallery {
    background-color: #fafafa;
    padding-bottom: 150px;
    padding-top: 100px;
    height: auto;
}

#dashboard {
    background-color: #fafafa;
    padding-bottom: 150px;
    padding-top: 100px;
    height: auto;
}

#detail-gallery {
    background-color: #fafafa;
    padding-bottom: 150px;
    padding-top: 100px;
    height: auto;
}

#profil-pelaku {
    background-color: #fafafa;
    padding-bottom: 150px;
    padding-top: 20px;
    height: auto;
}

#form-upload-photo {
    background-color: #fafafa;
    padding-bottom: 100px;
    height: auto;
}

#form-upload-video {
    background-color: #fafafa;
    padding-bottom: 100px;
    height: auto;
}

#semua-pelaku {
    background-color: #fafafa;
    padding-bottom: 100px;
    padding-top: 50px;
    height: auto;
}

#festival-mbois {
    background-color: #fafafa;
    padding-bottom: 150px;
    height: auto;
}

#error-page {
    height: 91vh;
    background-color: #0377BE;
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}


/*-- SECTION TENTANG MCF --*/

#tentang-mcf-1 {
    background-color: #0288d1;
    /*height: 690px;*/
    height: auto;
    padding-bottom: 100px;
    padding-top: 120px;
}

#tentang-mcf-2 {
    background-color: #f8931f;
    height: auto;
    padding-bottom: 120px;
    padding-top: 90px;
}

#tentang-mcf-3 {
    background-color: #424242;
    height: auto;
    padding-top: 110px;
    padding-bottom: 180px;
}

#list-forum {
    height: auto;
    padding-top: 50px;
    padding-bottom: 180px;
    background-color: #fafafa;
}


/*-- FOOTER --*/

#license {
    background-color: #28b6f6;
    height: auto;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
}


/*------------------
  WRAPPER
------------------*/

#license h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 7.5px;
}

.wrapper-1:not(.content-image) {
    background-color: rgba(0, 0, 0, .5);
    height: 688px;
    width: 300px;
    margin-left: 120px;
    padding: 130px 30px 0 35px;
    z-index: 1000;
    position: absolute;
}

.wrapper-1 h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    z-index: 1000;
    position: relative;
}


.content-image {
    z-index: 1;
    position: relative;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 688px;
    min-height: 688px;
    width: 100%;
}

.wrapper-1 p {
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
}

.wrapper-1 a {
    text-transform: uppercase;
    font-size: 16px;
}

#upper-carousel {
    z-index: 2;
}

#upper-carousel .carousel-inner {
    position:absolute;
}

.controller {
    color: #fff;
    margin: 0;
}

ul.controller {
    margin-left: -40px;
}

ul.controller > li {
    list-style-type: none;
    display: inline-block;
}

.controller > li > a {
    color: #fff;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.controller > li > a:hover {
    color: #579CFE;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.controller > li > a > i.fa {
    font-size: 1.3em;
    margin-left: 20px;
}

a.controller-left {
    padding-left: -20px;
    display: block;
}

li.controller-left {
    margin-top: 10px;
    padding-right: -20px;
}

li.controller-right {
    margin-top: 10px;
}

ul.controller > li > a.btn {
    margin-bottom: 10px;
    padding: 8px 20px;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

ul.controller > li > a.btn:hover {
    color: #fff;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.center-btn {
    width: 100%;
    text-align: center;
    position: relative;
    z-index:1002;
}

.center-button {
    color: #4d5464;
    padding: 12px 15px;
    font-size: 20px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .5);
    margin-left: -26px;
    position: absolute;
    margin-top: -90px;
}


/*--------------------------------------------------------*/


hr {
    border: 1px solid #28b6f6;
    width: 85%;
    /*position: absolute;*/
    z-index: 1;
}

.title-separator {
    width: 100%;
    height: 13px;
    border-bottom: 1px solid #28B6F6;
    text-align: center;
}

.first-title {
    background-color: #28b6f6;
    text-align: center;
    padding: 5px 30px;
    border-radius: 20px;
    position: relative;
    z-index: 1000;
    font-size: 1.3em;
    color: #fff;
    font-weight: 600;
    /*margin-left: 33.5%;*/
    margin-top: 3.7px;
}


/*---------
CAROUSEL
---------*/

#myCarousel {
    margin: 60px 0;
    min-height: 440px;
    padding-top: 60px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

#myCarousel .container {
    width: 80%;
}

#myCarousel h2 {
    color: #fff;
    margin-top: 0;
    font-size: 32px;
}

#myCarousel h3 {
    color: #82d4f9;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.7em
}

#myCarousel p {
    color: #fff;
    font-size: 16px;
    line-height: 1.8em;
}

#myCarousel .btn {
    border-radius: 1px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 20px;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

#myCarousel .btn:hover {
    background-color: #9b59b6;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

#myCarousel img {
    min-width: 340px;
    max-width: 340px;
    min-height: 340px;
    max-height: 340px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-control {
    text-shadow: none;
    width: 5%;
}

.carousel-control span.glyphicon {
    background-color: #fff;
    font-size: 20px;
    padding-top: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    width: 50px;
    height: 50px;
    margin-top: -10px;
    font-size: 30px;
    border-radius: 100%;
    color: #4d5464;
}

.second-carousel > .container {
    background-color: #f2f2f2;
    padding-left: 0;
    padding-right: 0;
    width: 97.5%;
}

.nav-tabs {
    border: 0;
}

.second-carousel > ul.nav-tabs {
    width: 100%;
}

.nav-tabs > li {
    width: 50%;
    text-align: center;
    line-height: 0;
}

.second-carousel ul.nav-tabs > li > a {
    background-color: #28b6f6;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
    /*    font-weight: 300;*/
    border-bottom: 6px solid #28b6f6;
    border-radius: 0;
}

.nav-tabs > li > a {
    margin: 0;
    padding: 15px 25px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 0;
    cursor: pointer;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.second-carousel ul.nav li > a:hover {
    background-color: #fff;
    color: #222;
    border-bottom: 6px solid #039be6;
}

.second-carousel ul.nav-tabs > li.active > a {
    border-bottom: 6px solid #039be6;
}

.second-carousel .tab-content {
    padding-top: 20px;
}

.second-carousel .right-controller > a {
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.second-carousel .control {
    padding: 40px 30px 30px 30px;
    min-height: 100px;
}

.second-carousel .tab-content .container {
    width: 97.5%;
}

.multi-item-carousel {
    padding-top: 20px;
}

.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -25%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 25%;
}

.multi-item-carousel .carousel-inner .next {
    left: 25%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -25%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.multi-item-carousel .item .inner-content {
    background-color: #fff;
    min-height: 300px;
}

.multi-item-carousel .item .inner-content img {
    width: 100%;
    min-height: 240px;
    max-height: 240px;
    -o-object-fit: cover;
    object-fit: cover;
}

.multi-item-carousel .item .inner-content h3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    color: #444;
}

.second-carousel .left-controller > a {
    color: #444;
    margin-left: 25px;
}

.sponsorship-wrapper .col-md-2 {
    height: 123px;
    width: 195px;
    /*    padding:0 20px;*/
}

.sponsorship-wrapper img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 175px;
    max-height: 123px;
    cursor: pointer;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: -webkit-filter .2s ease;
    transition: -webkit-filter .2s ease;
    transition: filter .2s ease;
    transition: filter .2s ease, -webkit-filter .2s ease;
}

.sponsorship-wrapper img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: -webkit-filter .2s ease;
    transition: -webkit-filter .2s ease;
    transition: filter .2s ease;
    transition: filter .2s ease, -webkit-filter .2s ease;
}


/*------------------------------------------*/

.btn-purple {
    background-color: #f8931f;
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 20px;
}

.btn-purple:hover {
    background-color: #9b59b6;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    color: #fff;
}

.btn-grey {
    background-color: #95a5a6;
    color: #fafafa;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 2px;
}

.btn-grey:hover {
    background-color: #bdc3c7;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: #000;
}

.btn-blue {
    background-color: #3498db;
    color: #fafafa;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 2px;
}

.btn-blue:hover {
    background-color: #2ecc71;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: #000;
}

.btn-tulis-artikel {
    float: left;
    background-color: #f8931f;
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 600;
    font-size: 21px;
    padding: 0 20px 0 0;
}

.btn-tulis-artikel .fa {
    margin-right: 20px;
    background-color: #e67e22;
    padding: 15px;
    font-size: 1.1em;
}

.btn-direktori-event {
    float: left;
    background-color: #28b6f6;
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 600;
    font-size: 21px;
    padding: 0 80px 0 0;
    width: 100%;
}

.btn-direktori-event .fa {
    margin-right: 20px;
    background-color: #039be6;
    padding: 25px;
    font-size: 1.2em;
}


/*-------------
CONTENT 3
-------------*/

.calendar-right {
    /*    width: 100%;*/
}

.calendar-right-wrapper {
    background-color: #fff;
    box-shadow: 0 0 15px #ccc;
    height: auto;
    margin-bottom: 20px;
    -webkit-transition: height .4s ease;
    transition: height .4s ease;
}

.calendar-right-wrapper img {
    min-width: 360px;
    max-width: 360px;
    min-height: 250px;
    max-height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.calendar-right-inner {
    padding: 10px 25px 20px;
}

.calendar-right-date {
    font-size: 1.8em;
    color: #28B6F6;
}

.calendar-right-title {
    font-size: 1.4em;
    color: #333;
    text-align: justify;
}

.content-comment {}

.content-comment img {
    max-height: 50px;
    border: 1px solid #cecccf;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.content-comment .comment-profile-name {
    margin-left: 20px;
    font-size: 1.6em;
    vertical-align: middle;
    font-weight: 600;
}

.content-comment .comment-content {
    font-weight: 600;
    line-height: 1.3em;
}

.content-comment .comment-hint {
    line-height: 1.6em;
    color: #595959;
}

.content-comment .comment-bottom {
    margin-top: 30px;
}

.content-comment .comment-bottom .btn {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.comment-bottom-count {
    margin-left: 20px;
    color: #b3b3b3;
}

.comment-bottom .comment-bottom-count .fa {
    vertical-align: middle;
}

.comment-bottom .comment-bottom-count span {
    font-size: 1.6em;
    vertical-align: middle;
}

.comment-colaboration {
    border-bottom: 1px solid #b3b3b3;
}

.comment-colaboration .text-count {
    font-size: 1.4em;
}

.comment-colaboration .colaboration-text {
    font-weight: 600;
    padding-right: 125px;
}

.content-comment .colaborator {
    color: #b3b3b3;
}

.content-comment .btn-colaboration {
    margin-top: 30px;
}


/*--------------
CONTENT 4
--------------*/

.hovereffect {
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect img {
    display: block;
    position: relative;
    max-height: 175px;
    min-height: 175px;
    min-width: 260px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #444;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    min-height: 240px;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
    color: #444;
    opacity: 0;
    font-size: 24px;
    filter: alpha(opacity=0);
    margin-top: 32px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*---------------------------------------------------------*/

.content-product {
    margin-top: 100px;
}

.product-grid {
    /*background-color: #fff;*/
    min-height: 240px;
    text-align: center;
}

.product-details {
    /*background-color: #fff;*/
    text-align: left;
}

.product-title {
    color: #28b6f8;
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 0;
}

.product-subtitle {
    margin-top: 0;
    padding-bottom: 15px;
}

.product-title,
.product-subtitle {
    margin-left: 20px;
}

.product-button .btn {
    line-height: 2em;
    font-size: 20px;
}

#content-4:not(.subsektor-container) img {
    max-width: 240px;
    width: 240px;
    max-height: 175px;
    height: 175px;
    -o-object-fit: cover;
    object-fit: cover;
}

#content-4 .gallery-image-wrapper {
    background-color: #fff;
    width: 240px;
    min-height: 295px;
    box-shadow: 1px 1px 7px #bbb;
}

#content-4 .col-md-3 {
    margin-bottom: 50px;
}

#content-4 .gallery-caption {
    padding: 15px;
}

.subsector-legend-symbol {
    margin-right:5px;
}


/*---------------------------------------------------------*/

ul.about-1,
ul.about-2 {
    color: #fff;
    font-size: 20px;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul.about-1 > li > a,
ul.about-2 > li > a {
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

ul.about-1 > li > a:hover,
ul.about-2 > li > a:hover {
    color: #28b6f6;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

ul.social-media {
    list-style: none;
}

ul.social-media li {
    display: inline-block;
    margin-left: 20px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

ul.social-media li > a {
    color: #039be6;
    vertical-align: middle;
}

.popover {
    border-radius: 0;
    text-align: center;
    border: 0;
    padding: 5px;
    background-color: #fafafa;
    min-width: 350px;
    border-bottom: 7px solid #28B6F6;
    min-width: 220px;
}

.popover p {
    color: #737373;
    margin-top: 10px;
}

.popover .btn {
    font-weight: 600;
}

.popover .btn:not(:first-child) {
    margin-top: 10px;
}

.popover-content {
    margin-top: 15px;
}

.popover.bottom > .arrow {
    border: 0;
}

.popover.bottom {
    margin-top: 0;
}

.login-popover {
    min-width: 220px !important;
    width: 50px;
    left: -100px !important;
}

.login-popover .arrow {
    left: 70% !important;
}

.home-text {
    display: none;
}

li.sign-in input[type="submit"] {
    margin-left: 0;
}

span.forgot-password a {
    color: #888;
    vertical-align: middle;
    line-height: 34px;
}

.btn-submit {
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    background-color: #f8931f;
    border: none;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.btn-social-facebook {
    background-color: #0277bd;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.btn-social-facebook:hover {
    background-color: #00ffff;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.btn-sunting {
    background-color: #e67e22;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    margin-bottom: 15px;
}

.btn-sunting:hover {
    background-color: #d35400;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.btn-logout {
    background-color: #3498db;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.btn-logout:hover {
    background-color: #2980b9;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.btn-social-google-form {
    background-color: #ba69c8;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.btn-submit:hover {
    background-color: #ba69c8;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.btn-social-google-form:hover {
    background-color: #3498db;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}


/*---------------------------------------------------
        DETAIL MEMBER CSS SETTINGS
---------------------------------------------------*/

@media screen and (min-width: 1170px) {
    .detail-member-desc {
        margin-left: 20%;
        font-size: 1.3em;
        margin-bottom: 40px;
    }
}

.img-col {
    text-align: center;
    vertical-align: middle;
}

#detail-member .description .fa {
    color: #2ab5f6;
    margin-right: 10px;
}

#detail-member .description h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

#detail-member .description p {
    font-size: 1.2em;
}

p.inner-desc {
    margin-top: 40px;
    line-height: 2.5em;
}

#detail-member p > a.btn {
    margin-top: 25px;
}


/*-------------------------------------------------
        SUBSEKTOR CSS SETTINGS
-------------------------------------------------*/

@media screen and (min-width: 1170px) {
    .subsektor-content {
        margin-top: 120px;
    }
    .subsektor-container img {
        max-height: 100px !important;
        max-width: 100px !important;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .subsektor-container {}
}

.subsektor-container h4 {
    margin-top: 40px;
    font-size: 20px;
    color: #555;
    /*font-weight: 600;*/
}

.subsektor-container {
    background-color: #eeeeee;
    text-align: center;
    border: 2px solid #d5d5d5;
    border-radius: 3px;
    padding: 35px 15px;
    margin: 0 10px;
    min-height: 250px;
    max-height: 250px;
    /*height: 175px;*/
}

.subsektor-content .row:not(:first-child) {
    margin-top: 50px;
}

[class^="legend-"],
[class*=" legend-"] {
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
}

[class^="legend-"]:before,
[class*=" legend-"]:before {
    content: " ";
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.chart-percentage {
    width: 20px;
    text-align: right;
    margin-right: 20px;
    display: inline-block;
}

.legend-1:before {
    background-color: #1abc9c;
}

.legend-2:before {
    background-color: #16a085;
}

.legend-3:before {
    background-color: #f1c40f;
}

.legend-4:before {
    background-color: #f39c12;
}

.legend-5:before {
    background-color: #2ecc71;
}

.legend-6:before {
    background-color: #27ae60;
}

.legend-7:before {
    background-color: #e67e22;
}

.legend-8:before {
    background-color: #d35400;
}

.legend-9:before {
    background-color: #3498db;
}

.legend-10:before {
    background-color: #2980b9;
}

.legend-11:before {
    background-color: #e74c3c;
}

.legend-12:before {
    background-color: #c0392b;
}

.legend-13:before {
    background-color: #9b59b6;
}

.legend-14:before {
    background-color: #8e44ad;
}

.legend-15:before {
    background-color: #34495e;
}

.legend-16:before {
    background-color: #bdc3c7;
}


/*----------------------------------------------------------------
            DETAIL SUBSEKTOR CSS SETTINGS
----------------------------------------------------------------*/

#detail-subsektor .img-subsektor {
    max-height: 180px;
    min-height: 180px;
    position: relative;
    /*margin-left: 100%;*/
    /*margin-right: auto;*/
    float: right;
}

@media screen and (min-width: 1170px) {
    #detail-subsektor #detail-subsektor-desc {
        margin-top: 0;
    }
}

#detail-subsektor #detail-subsektor-desc {
    color: #555;
    font-weight: 600;
}

#detail-subsektor p {
    font-size: 1.2em;
    line-height: 2em;
    color: #555;
}

#detail-subsektor .row:not(:first-child) {
    margin-top: 50px;
}

#detail-subsektor .second-carousel .inner-content {
    overflow: hidden;
}

#detail-subsektor .second-carousel .inner-content h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}


/*TENTANG MCF PAGE SETTING*/

@media screen and (min-width: 1170px) {
    #tentang-mcf-1 p {
        margin-left: 50px;
    }
    #tentang-mcf-2 .container {
        padding-left: 50px;
    }
}

#tentang-mcf-1 h1 {
    font-size: 3.7em;
    color: #fff;
    margin-left: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

#tentang-mcf-1 p {
    color: #fff;
    font-size: 1.2em;
}

#tentang-mcf-2 h1 {
    color: #fff;
    font-size: 3.7em;
    font-weight: 300;
}

#tentang-mcf-2 ul {
    list-style-type: decimal;
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
}

#tentang-mcf-2 li:first-child {
    margin-top: 20px;
}

#tentang-mcf-2 li {
    margin-bottom: 20px;
}

#tentang-mcf-2 h2 {
    font-size: 2.7em;
    color: #fff;
}

#tentang-mcf-3 .head-title {
    text-align: center;
    color: #fff;
}

#tentang-mcf-3 .head-title h1 {
    font-size: 3.7em;
    font-weight: 300;
}

.program h2 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.program {
    text-align: center;
    margin-top: 25px;
}

.program img {
    margin-bottom: 40px;
}

.program p {
    color: #fff;
    font-size: 1.4em;
}


/*-------------------------------------------------------------------
                    DETAIL EVENT CSS SETTINGS
-------------------------------------------------------------------*/

#detail-event .event-date {
    color: #28B6F6;
    font-size: 1.7em;
    margin-bottom: 0;
}

#detail-event .event-tag {
    color: #999;
    font-size: 1.5em;
}

#detail-event .event-time,
#detail-event .event-place {
    font-size: 1.4em;
}

#detail-event .description h2 {
    margin-top: 10px;
    text-align: justify;
}

#detail-event p.event-time {
    margin-bottom: 15px;
    color: #666;
}

#detail-event .event-desc {
    font-size: 1.3em;
    color: #666;
    text-align: justify;
}

@media screen and (min-width: 1170px) {
    .detail-event-desc {
        margin-left: 20%;
        font-size: 1.3em;
        margin-bottom: 40px;
        color: #28B6F6;
    }
}


/*------------------------------------------------------------
            FORUM LIST CSS SETTING
------------------------------------------------------------*/

#list-forum p.title {
    color: #28b6f6;
    font-size: 1.2em;
    margin-left: 200px;
}

#list-forum .list-forum-content .col-md-6 {
    background-color: #fff;
    padding: 20px;
    margin: 10px 20px;
    min-height: 110px;
    box-shadow: 0 0 15px #aaa;
}

span.forum-list-title {
    color: #28b6f6;
    font-size: 1.3em;
}

#list-forum .forum-container {
    margin-top: 50px;
    width: 100%;
}

.forum-highlight {
    font-size: 1.2em;
    color: #333;
    text-align: justify;
}

.forum-list-date {
    color: #999;
    font-weight: 300;
}

ul.forum-count {
    list-style: none;
    display: block;
    padding: 0;
}

ul.forum-count li:first-child {
    margin-top: -20px;
}

ul.forum-count li .fa {
    color: #28b6f6;
}

.text-count {
    font-size: 2em;
    font-weight: 300;
}

.forum-state {
    font-size: .9em;
    font-weight: bold;
    padding: 2.5px 5px;
    border-radius: 15px;
    text-transform: uppercase;
    width: 75px;
    text-align: center;
    margin-top: 3px;
}

.state-danger {
    background-color: #d9534f;
    color: #fff;
}

.state-execute {
    background-color: #9b59b6;
    color: #fff;
}

.state-open {
    background-color: #2ecc71;
    color: #fff;
}


/*--------------------------------------------------
        FORUM KOLABORASI CSS SETTING
--------------------------------------------------*/

#forum-kolaborasi .kolaborasi-title {
    color: #666;
    font-size: 2.1em;
}

#forum-kolaborasi .kolaborasi-desc {
    color: #666;
    font-size: 1.6em;
    margin-top: 20px;
    text-align: justify;
}

#forum-kolaborasi .sub-title {
    color: #28B6F6;
    font-size: 1.17em;
}

#forum-kolaborasi .form-control {
    font-size: 20px;
    font-weight: 300;
}

#forum-kolaborasi .form-control::-webkit-input-placeholder {
    font-style: italic;
}

#forum-kolaborasi .form-control {
    border-radius: 2px;
}

#forum-kolaborasi .form-control::-moz-placeholder {
    font-style: italic;
}

#forum-kolaborasi .form-control:-ms-input-placeholder {
    font-style: italic;
}

#forum-kolaborasi .form-control::-webkit-input-placeholder {
    font-style: italic;
}

#forum-kolaborasi .form-control::placeholder {
    font-style: italic;
}

#forum-kolaborasi textarea {
    resize: vertical;
}

.forum-populer-left {
    padding-top: 50px;
}

.forum-populer-left img {
    max-height: 75px;
    border: 3px solid #cecccf;
    border-radius: 100%;
    /*    position: absolute;*/
}

.forum-populer-left .comment-profile-name {
    font-size: 2em;
    vertical-align: middle;
    font-weight: 600;
    margin: 5px 0 0;
}

.forum-populer-left .comment-post-date {
    color: #999;
}

.forum-populer-left span.post-owner {
    text-align: left;
    margin-left: 90px;
}

.forum-populer-left .reputation-title {
    font-size: .9em;
    color: #666;
    margin-bottom: 0;
}

.forum-populer-left .reputation-count {
    font-size: 1.5em;
    margin-right: 35px;
}

.forum-populer-left .forum-title {
    font-weight: 600;
    line-height: 1.3em;
    text-align: justify;
}

.forum-populer-left .forum-content {
    line-height: 1.2em;
    color: #666;
    text-align: justify;
}

.forum-populer-left textarea {
    resize: none;
}

.forum-populer-right {
    padding-top: 35px;
}

.forum-populer-right .head-title {
    color: #28B6F6;
    margin: 0;
    font-size: 1.2em;
}

.forum-hr {
    color: #666;
    border-top: 1px solid #999;
    border-bottom: none;
    width: 100%;
    margin-top: 0;
}

.forum-populer-right .listing-forum {
    overflow-y: scroll;
    height: 650px;
}

.forum-populer-right .inner-list-forum {
    padding: 10px;
}

.forum-populer-right .inner-list-forum-owner {
    font-size: 1.5em;
    color: #222;
    line-height: 1.7em;
}

.forum-populer-right .inner-list-forum-date {
    font-size: .9em;
    color: #aaa;
    margin-top: 10px;
}

.forum-populer-right .inner-list-forum-content {
    text-align: justify;
    line-height: 1.7em;
    color: #666;
    font-size: 1.2em;
}

.list-forum-content {
    margin-top: 50px;
}

.list-forum-content .col-md-6 {
    background-color: #fff;
    padding: 20px;
    margin: 10px 20px;
    min-height: 110px;
}

.forum-kolaborasi-button-bottom .btn {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    border-radius: 1px;
}

.button-social-bottom .count {
    border: 1px solid #666;
    font-size: .8em;
    padding: 2px;
    border-radius: 2px;
    margin-right: 10px;
}

.twitter-btn .fa {
    color: #28B6F6;
}

.forum-tag {
    font-weight: 300;
    color: #aaa;
    margin: 0;
    font-size: 1.6em;
}

.no-margin-top {
    margin-top: 0;
}

.m20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.form-terbitkan input[type="text"] {
    padding: 10px 10px;
    height: 40px;
}

.form-terbitkan select {
    height: 40px;
}

label.input-file {
    background-color: #e67e22;
    padding: 5px 13px;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    border-radius: 2px;
}

span.input-file-span {
    color: #666;
    margin-left: 5px;
    font-weight: 700;
}

.input-file-span-maksimum {
    color: #aaa;
    margin-top: 8px;
}

.forum-populer .form-state {
    font-size: 1.1em;
    font-weight: bold;
    padding: 2.5px 5px;
    border-radius: 15px;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    margin-top: 3px;
}


/*------------------------------------------------------
            DETAIL BERITA CSS SETTINGS
------------------------------------------------------*/

#detail-berita .detail-berita-header img {
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

#detail-berita br {
    margin-bottom: 35px;
}

.detail-berita-content {
    margin: 50px 0 0;
}

.detail-berita-content .detail-berita-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
}

.detail-berita-content .detail-berita-date {
    color: #28b6f6;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0;
}

.detail-berita-content .detail-berita-article-content {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
    font-weight: 300;
    text-indent: 2em;
    text-align: justify;
    margin-top: 25px;
}

.artikel-owner {
    margin-top: 40px;
}

.artikel-owner-photo img {
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 50px;
    max-width: 50px;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.artikel-owner-name {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    vertical-align: middle;
}


/*-----------------------------------------------------------
                GALLERY CSS SETTING
-----------------------------------------------------------*/

#gallery img {
    max-width: 240px;
    width: 240px;
    max-height: 175px;
    height: 175px;
    -o-object-fit: cover;
    object-fit: cover;
}

#gallery .gallery-image-wrapper {
    background-color: #fff;
    width: 240px;
    min-height: 295px;
    box-shadow: 0 0 7px #bbb;
}

#gallery .col-md-3 {
    margin-bottom: 50px;
}

#gallery .gallery-caption {
    padding: 15px;
}

.image-popups img:hover {
    cursor: zoom-in;
}

.gallery-img-date {
    margin-bottom: 0;
    color: #28b6f6;
}

.gallery-img-title {
    margin-bottom: 0;
    color: #666;
    font-size: 1.4em;
}

.gallery-btn-bottom button[disabled] {
    background-color: #eee;
}

.gallery-btn-bottom a[disabled] {
    color: #999;
}

.gallery-btn-bottom a {
    color: #666;
}

.gallery-btn-bottom button {
    background-color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    padding: 1px 10px;
    margin-right: 5px;
}

.bottom-count {
    vertical-align: middle;
    display: inline-block;
    /*    height: 48px;*/
    margin: -23px 20px 0;
    padding: 10px 20px;
    background-color: #fff;
}

.bottom-count span {
    font-size: 1.3em;
}


/*--------------------------------------------------------
            DETAIL GALLERY CSS SETTING
--------------------------------------------------------*/

#detail-gallery .detail-gallery-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 0;
    font-weight: 600;
}

#detail-gallery .detail-gallery-date {
    color: #28b6f6;
    font-size: 1.2em;
    font-weight: 300;
}

#detail-gallery .detail-gallery-desc {
    color: #666;
    font-size: 1.2em;
    line-height: 1.7em;
    font-weight: 300;
    text-align: justify;
}

.detail-gallery-desc br {
    margin-bottom: 20px;
}

.detail-gallery-content {
    margin-top: 50px;
}

#detail-gallery img {
    max-width: 240px;
    width: 240px;
    max-height: 240px;
    height: 240px;
    -o-object-fit: cover;
    object-fit: cover;
}

#detail-gallery .gallery-image-wrapper {
    width: 240px;
    min-height: 295px;
}

#gallery .first-title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/*---------------------------------------------------------
        DIREKTORI CSS SETTINGS
---------------------------------------------------------*/

.title-upper {
    color: #28b6f6;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 50px;
}

.profil-pelaku-nama {
    font-size: 1.9em;
    color: #666;
    font-weight: 700;
}

.profil-pelaku-contact-email .fa,
.profil-pelaku-contact-website .fa,
.profil-pelaku-contact-number .fa {
    color: #28b6f6;
    margin-right: 20px;
}

.profil-pelaku-contact-email:not(.fa),
.profil-pelaku-contact-website:not(.fa),
.profil-pelaku-contact-number:not(.fa) {
    color: #666;
    font-size: 1.1em;
}

.profil-wrapper-1 {
    margin-top: 50px;
    padding: 20px 25px;
    background-color: #fff;
    box-shadow: 0 0 15px #ccc;
}

.profil-wrapper-2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px 25px;
    background-color: #fff;
    box-shadow: 0 0 15px #ccc;
}

.profil-wrapper-1-main-content {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}

.profil-wrapper-1-date {
    color: #999;
    font-weight: 300;
}

.profil-wrapper-2-main-content {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}

.profil-wrapper-2-date {
    color: #999;
    font-weight: 300;
}

.btn-profil-pelaku-blue {
    background-color: #28b6f6;
    color: #fff;
    text-transform: uppercase;
    width: 42%;
    font-size: 1.1em;
    margin: 0 10px;
    font-weight: 700;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 2px;
}

.btn-profil-pelaku-blue:hover {
    background-color: #f39c12;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-profil-pelaku-orange {
    border-radius: 2px;
    background-color: #f39c12;
    color: #fff;
    text-transform: uppercase;
    width: 42%;
    font-size: 1.1em;
    font-weight: 700;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-profil-pelaku-orange:hover {
    background-color: #28b6f6;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-profil-pelaku-approval {
    border-radius: 2px;
    background-color: #1abc9c;
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    font-size: 1.1em;
    font-weight: 700;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-profil-pelaku-approval[disabled] {
    background-color: #bdc3c7;
    color: #000;
}

.btn-profil-pelaku-approval:hover {
    background-color: #9b59b6;
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.profil-pelaku-gambar-container img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.lbl-profil-pelaku-video {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}

.btn-btm-subsektor .btn {
    font-size: 1.5em;
    padding: 10px 0;
}


/*----------------------------------------------
    SEMUA PELAKU CSS SETTING
----------------------------------------------*/

#semua-pelaku .semua-pelaku-container {
    background-color: #fff;
    box-shadow: 0 0 15px #ddd;
    border-radius: 3px;
}

#semua-pelaku .col-md-6 {
    margin-bottom: 25px;
}

#semua-pelaku .semua-pelaku-image {
    max-height: 120px;
    max-width: 120px;
    height: 120px;
    width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#semua-pelaku .semua-pelaku-right {
    padding: 15px 25px;
}

#semua-pelaku .semua-pelaku-nama {
    font-size: 1.3em;
    color: #333;
}

#semua-pelaku .semua-pelaku-email,
#semua-pelaku .semua-pelaku-nomor {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 0;
    text-transform: lowercase;
}

#semua-pelaku .semua-pelaku-btn-bottom {
    margin-left: 50px;
}

#semua-pelaku .semua-pelaku-btn-bottom button {
    border: none;
    background-color: #fafafa;
}

#semua-pelaku .semua-pelaku-btn-bottom button a {
    color: #333;
}

#semua-pelaku .semua-pelaku-btn-bottom button[disabled] a {
    color: #999;
}

#semua-pelaku .semua-pelaku-btn-bottom button[disabled] {
    cursor: not-allowed;
}

#semua-pelaku .semua-pelaku-page-count {
    font-size: 1.5em;
    margin-left: 25px;
    margin-right: 25px;
    color: #444;
}


/*------------------------------------------------------------
            FESTIVAL MBOIS CSS SETTINGS
------------------------------------------------------------*/

#festival-mbois .detail-berita-header img {
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

#festival-mbois .festival-mbois-latar-belakang-content {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
    font-weight: 300;
    text-indent: 2em;
    text-align: justify;
    margin-top: 10px;
}

.festival-mbois-latar-belakang {
    color: #3498db;
    font-size: 1.3em;
    margin: 25px 0 0;
    text-transform: capitalize;
}

#festival-mbois br {
    margin-bottom: 20px;
}

#festival-mbois .festival-mbois-news-wrapper {
    background-color: #fff;
    box-shadow: 0 0 15px #ddd;
    width: 250px;
    min-height: 295px;
    border-radius: 3px;
}

#festival-mbois .news-caption {
    padding: 15px;
}

#festival-mbois .news-caption-date {
    color: #28B6F6;
    margin-bottom: 0;
}

#festival-mbois .news-caption-title {
    font-size: 1.3em;
    color: #333;
}

#festival-mbois .festival-mbois-news-wrapper img {
    max-width: 250px;
    max-height: 175px;
    width: 250px;
    height: 175px;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.pointer {
    cursor: pointer;
}

#error-page .btn-purple {
    font-weight: 400;
    line-height: 1em;
    font-size: 14px;
    padding: 10px 30px;
}

#error-page .error-main-wrapper {
    text-align: center;
    color: #fff;
}

#error-page .error-main-wrapper h1 {
    font-size: 185px;
    margin-bottom: 0;
}

#error-page .error-main-wrapper p {
    font-size: 50px;
    font-weight: 300;
}

.pl50 {
    padding-left: 50px;
}

.mb0 {
    margin-bottom: 0;
}

p.mb0 {
    margin-bottom: 0;
}

.profile-left {
    padding-top: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: auto;
    padding-bottom: 50px;
}

.profile-left .profile-detail {
    margin-top: 20px;
}

.profile-left .profile-img {
    height: 150px;
    width: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 2px;
}

.profile-left .profile-name {
    font-size: 1.3em;
    font-weight: 400;
    text-transform: capitalize;
}

.profile-left .profile-age {
    /*text-transform: uppercase;*/
    color: #999;
}

.profile-right {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 414px;
    padding: 0 20px;
}

.profile-right .tab-pane {
    padding: 5px 10px;
}

.profile-right .nav-tabs > li {
    width: auto;
}

.profile-right .nav-tabs > li.active > a {
    border: none;
    color: #000;
    border-bottom: 3px solid #d62977;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #fff;
}

.profile-right .nav-tabs > li.active > a:focus {
    border: none;
    color: #000;
    border-bottom: 3px solid #d62977;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.profile-right .nav-tabs > li.active > a:hover {
    border: none;
    color: #000;
    border-bottom: 3px solid #d62977;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #fff;
}

.profile-right .nav-tabs > li > a {
    border-radius: 0;
    margin-right: 0;
    padding-top: 20px;
    color: #000;
    font-size: 80%;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.profile-right .nav-tabs > li > a:hover {
    border-bottom: 3px solid #d62977;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #fff;
}

.profile-right #activity {
    height: 350px;
    overflow-y: scroll;
}

.label {
    display: inline-block;
    font-size: 1em;
    text-transform: capitalize;
}

#profile-details p.mb0 {
    color: #999;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 600;
}

#profile-details p.pl50 {
    /*color: #000;*/
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
}

.forum-activity {
    width: 100%;
    border-top: 1px solid #dadada;
    padding: 15px;
}

.forum-activity a {
    text-decoration: none;
}

.forum-activity a:hover {
    text-decoration: none;
}

.forum-activity a:active {
    text-decoration: none;
}

.forum-activity a:focus {
    text-decoration: none;
}

.forum-activity .forum-activity-title {
    font-size: 1.3em;
    color: #423877;
    margin-bottom: 5px;
}

.forum-activity .forum-activity-overview {
    letter-spacing: 1px;
    color: #333;
    padding-right: 150px;
}

.forum-activity .forum-activity-date {
    color: #999;
    margin-top: 15px;
}

.btn-pp {
    background-color: #3b5998;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-pp:hover {
    color: #fbeaf1;
    background-color: #de5492;
}

.btn-pp:focus {
    color: #fff;
}

.btn-bl {
    background-color: #423877;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-bl:hover {
    color: #fbeaf1;
    background-color: #4e418b;
}

.btn-bl:focus {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .profile-left {
        margin-bottom: 30px;
    }
}

.text-warning {
    color: #f1c40f;
}