@media screen and (max-width: 1288px) {
    .navbar-header {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1288px) {
    .navbar-brand-mini {
        display: block;
    }
    .header-logo {
        display: none;
    }
    .container-fluid > .navbar-header {
        margin-left: 60px;
    }
}

@media screen and (min-width: 1170px) {
    ul.nav.navbar-nav {}
}

@media (min-width: 780px) and (max-width: 1068px) {
    .navbar-brand-mini,
    .navbar-brand {
        display: none;
    }
}

@media (min-width: 1120px) and (max-width: 1170px) {
    .container-fluid > .navbar-header {
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .home-text {
        display: block;
    }
    .home-icon {
        display: none;
    }
    .navbar ul {
        height: auto;
    }
    li.sign-in a:not(.lupa-password),
    li.sign-up a:not(.btn) {
        padding: 10px 15px;
        margin-top: 0;
    }
}

@media (min-width: 780px) {}

@media (min-width: 780px) {
    .navbar-nav {
        float: right !important;
    }
    .navbar-nav > li:not(.sign-in):not(.sign-up) > a:not(.home-tabs):not(.allready-login) {
        padding: 22.5px 20px;
    }
    .nav > li > a.home-tabs {
        padding: 18.5px 20px;
    }
}

@media (max-width: 1070px) {
    .separator {
        display: none;
    }
}

@media (min-width: 1070px) {}

@media (max-width: 990px) {
    #myCarousel div.item div.row {
        text-align: center;
    }
    #myCarousel div.item div.row img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1200px) {
    .comment-bottom-count {
        width: 100%;
    }
}

@media (max-width: 1188px) {
    p.separator {
        display: none;
    }
}

@media screen and (min-width: 1170px) {
    .popover {
        min-width: 340px;
    }
    li.sign-up .popover-content {
        /*        padding: 30px 20px;*/
    }
    li.sign-in .popover-content {
        padding: 20px 20px 5px 20px;
    }
    .popover.bottom > .arrow {
        margin-left: 0;
    }
    .btn-submit {
        width: 110px;
    }
    .login-instantiate {
        margin-right: 150px;
    }
}

@media (min-width: 768px) and (max-width: 913px) {
    li.sign-in a:not(.lupa-password),
    li.sign-up a:not(.btn) {
        padding: 22.5px 15px;
        margin-top: 0;
    }
}

@media (max-width: 913px) {
    .navbar-img {
        display: none;
    }
    li.sign-in a:not(.lupa-password),
    li.sign-up a:not(.btn) {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .col-md-3 {
        max-width: 275px;
        margin-left: 230px;
    }
    .detail-berita-content .col-md-3 {
        margin-left: 0;
    }
    .product-details {
        text-align: center;
    }
    #form-mcf .detail-member-desc {
        text-align: center;
        font-size: 2em;
    }
    #form-mcf .btn-purple {
        width: 100%;
        height: 40px;
        border-radius: 2px;
    }
    .center-responsive img {
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    img.img-no-offset {
        display: none;
    }
}

@media (min-width:992px) {
    #list-forum .list-forum-content .col-md-6 {
        width: 45.6%;
    }
    #forum-kolaborasi .container,
    #edit-profile .container,
    #detail-berita .container,
    #galery .container,
    #semua-pelaku .container,
    #festival-mbois .container,
    #detail-gallery .container,
    #profil-pelaku .container,
    #detail-subsektor .container {
        width: 1060px;
    }
    #festival-mbois .festival-mbois-news .col-md-3 {
        margin-bottom: 50px;
    }
    .forum-populer-left .reputation-title {
        margin-left: 20px;
    }
    .forum-populer-left .reputation-count {
        margin-left: 80px;
    }
    #forum-kolaborasi .list-forum-content .col-md-6 {
        width: 45.6%;
    }
    .title-upper {
        margin-left: 150px;
        text-align: left;
    }
}